doctype html
html(lang='en')
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/menu.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
  body
    nav
      ul(class='nav-menu')
        li(class='nav-item')
          a(href='/') Home
        li(class='nav-item')
          a(href='/banks') Banks
    block content
