extends header

block content
  table
    tr
      th Bank
      th Address
      th Currency
      th Supervisor
    tr
      td Stephen C. Cox
      td $300
      td $50
      td Bob
    tr
      td Josephin Tan
      td $150
      td $-
      td Annie
    tr
      td Joyce Ming
      td $200
      td $35
      td Andy
    tr
      td James A. Pentel
      td $175
      td $25
      td Annie

    #{listOfValues}
